<div data-role="page" id="bindPhone" data-dom-cache="false">
  <form class="ui-content jqm-content">
    <div class="prompt">为了您的购物体验，请绑定您的手机</div>

    <div class="phone-code">
      <div>
        <div class="ui-input-text ui-body-inherit ui-corner-all">
          <input name="cellphone" type="tel" maxlength="11" placeholder="手机号">
        </div>
        <a href="javascript:void(0)" name="sendButton" class="ui-btn ui-corner-all ui-disabled">验证</a>
      </div>
    </div>

    <div class="auth-code">
      <div class="ui-input-text ui-body-inherit ui-corner-all">
        <input name="phoneCode" maxlength="6" type="text" placeholder="验证码">
      </div>
    </div>
    <div class="button-box">
      <a href="javascript:void(0)" name="bindPhoneButton" class="ui-btn ui-corner-all ui-disabled large">绑定</a>
    </div>
  </form>
</div>
