<div data-role="page" id="editProfile" data-dom-cache="false">
	<div class="commodityList">
		<div>
			<span>电话号码:</span>
			<div class="ui-form-item">
				
				<input id="cellphone" name="cellphone" readonly="readonly" class='editCLass' type="text"
					placeholder="手机号码">
			</div>
		</div>
		<div>
			<span>用户姓名:</span>
			<div class="ui-form-item">
				<input id="name" name="name" class='editCLass' type="text"
					placeholder="用户姓名">
			</div>
		</div>
		<!-- <div class="ui-form-item ui-border-b">
			dddd
			<input name="mobile" class='editCLass' type="text"
				placeholder="手机号、邮箱号、QQ号">
		</div> -->

	</div>

</div>