<div data-role="page" id="evaluate">
    <div class="m-evaluate">
        <div>
            <span>产品质量</span>
            <span>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
            </span>
            <em><b>0</b>分</em>
            <div class="uline"></div>
        </div>
        <div>
            <span>服务态度</span>
            <span>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
            </span>
            <em><b>0</b>分</em>
        </div>
        <div>
            <span>门店环境</span>
            <span>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
            </span>
            <em><b>0</b>分</em>
        </div>
        <div>
            <span>施工质量</span>
            <span>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
            </span>
            <em><b>0</b>分</em>
        </div>
    </div>
    
    <div class="ui-form ui-border-t">
        <div class="ui-form-item ui-border-b">
            <textarea rows="10" placeholder="请输入评价内容" maxlength="200"></textarea>
        </div>
    </div>

	  <div data-role="footer" class="ui-footer m-evaluate-footer m-footer" data-tap-toggle="false" data-position="fixed" data-fullscreen="false">
	    <div>
	      <a href="javascript:void(0)" name="evaluateButton">发表评价</a>
	    </div>
	  </div>
</div>
