<div data-role="page" id="home" data-dom-cache="false">
  <div class="m-slider">
    <ul class="m-slider-content">
	    <li><img src="./theme/css/img/banner2.png"></li>
	    <li><img src="./theme/css/img/banner1.png"></li>
	    <li><img src="./theme/css/img/banner3.png"></li>
    </ul>
    <div class="m-slider-indicators"><span class="current"></span><span></span><span></span></div>
  </div>
  <div class="shotcut">
     <div class="shoticon" name="needAddCar">
      <div class="">
        <div class='enter_video'></div>
        <div class='about_us'></div>
        <div class='use_process'></div>
      </div>
<!--       <div class="">
        <div class='home_coupon'></div>
        <div class='home_article'></div>
        <div class='home_aboutme'></div>
      </div> -->
    </div>

  </div>
</div>
