<div data-role="page" id="mine" data-dom-cache="false">
    <div class="m-mine">
    	<div class="mi-info">
	    	<div class="infoImg"><img src=""></div>
	    	<div class="infoNickName"></div>
    	</div>
        <ul class="ui-list ui-list-text ui-border-tb">
            <li class="ui-border-t" activityId="preOrderList">
                <div class="ui-list-info">
                    <h4>我的订单</h4>
                </div>
            </li>        
            <li class="ui-border-t" activityId="addressList">
                <div class="ui-list-info">
                    <h4>收货地址</h4>
                </div>
                <div class="ui-list-action"><i name="curCity"></i></div>
            </li>         
            <!-- <li class="ui-border-t" activityId="position">
                <div class="ui-list-info">
                    <h4>切换城市</h4>
                </div>
                <div class="ui-list-action"><i name="curCity"></i></div>
            </li> -->
        </ul>
    </div>
</div>
