<div data-role="page" id="more" data-dom-cache="false">
    <div class="m-more">
        <ul class="ui-list ui-list-text ui-list-link ui-border-tb">
            <li class="ui-border-t todo" activityId="about">
                <p>关于我们</p>
            </li>
            <li class="ui-border-t todo " activityId="opinion">
                <p>意见&建议</p>
            </li>
            <li class="ui-border-t todo" activityId="editProfile">
                <p>个人资料</p>
            </li>
        </ul>
        <ul class="ui-list ui-list-text ui-border-tb">
            <li class="ui-border-t" activityId="position">
                <div class="ui-list-info">
                    <h4>切换城市</h4>
                </div>
                <div class="ui-list-action"><i name="curCity"></i></div>
            </li>
            <li class="ui-border-t" activityId="checkupd">
                <div class="ui-list-info">
                    <h4>当前版本</h4>
                </div>
                <div class="ui-list-action">v<i name="curVersion"></i></div>
            </li>
            <li class="ui-border-t todo" activityId="clearCache">
                <div class="ui-list-info">
                    <h4>清理缓存</h4>
                </div>
            </li>
            <li class="ui-border-t todo" activityId="logout">
                <div class="ui-list-info">
                    <h4>退出</h4>
                </div>
            </li>
        </ul>
    </div>
</div>
