<div data-role="page" id="opinion" name='opinion' data-dom-cache="false">
    <div class="m-opinion">
        <h2 class="m-form-label">联系方式</h2>
        <div class="ui-form ui-border-t">
            <div class="ui-form-item ui-border-b">
                <input name='contact' type="text" placeholder="手机号、邮箱号、QQ号">
            </div>
        </div>
        <h2 class="m-form-label">详细内容</h2>
        <div class="ui-form ui-border-t">
            <div class="ui-form-item ui-border-b">
                <textarea name='note' rows="10" placeholder="您的声音对我们很重要"></textarea>
            </div>
        </div>
    </div>

    <a href="" class="m-footer m-opinion-footer">
        <div class="m-footer-info">
            <i class="m-footer-icon"></i>
            <p name='opinionCommit'>提交</p>
        </div>
    </a>
</div>
