<div data-role="page" id="packageList" class="m-package-list" data-dom-cache="false">
  <div class="list-view packageList_wrapper">
    <div class="m-h-slider">
      <i class="slideUp"></i>
      <ul class="m-h-slider-content">
      	<li class="current"><span class="enterFilm1"></span><i class="enterFilm1" packageId="1001">进入</i></li>
      	<li><span class="enterFilm2"></span><i class="enterFilm2" packageId="1002">进入</i></li>
      	<li><span class="enterFilm3"></span><i class="enterFilm3" packageId="1003">进入</i></li>
      	<li><span class="enterFilm4"></span><i class="enterFilm4" packageId="1004">进入</i></li>
      	<li><span class="enterFilm5"></span><i class="enterFilm5" packageId="1005">进入</i></li>
      </ul>
      <i class="slideDown"></i>
    </div>
  </div>
</div>
