<div data-role="page" id="payment" class="payment" data-dom-cache="false">
  <div class="content-desc">
    <div class="">
      <span>订单号：</span><span name="appointmentCode"></span>
    </div>
    <div class="totalInfo">
      <span>总金额：</span><span name="totalAmount"></span>
    </div>
<!--     <div class="conpun" name="couponButton">
      <i></i>
      <span name="couponInfo">未选择优惠券</span>
    </div> -->
    <div class="calcPrice"><span>支付金额：</span><span name="paymentAmount"></span></div>
  </div>
  <div data-role="footer" class="ui-footer m-panel-footer m-footer" data-tap-toggle="false" data-position="fixed" data-fullscreen="false">
    <div>
      <a href="javascript:void(0)" name="pay_now" class="buy-now">微信支付</a>
    </div>
  </div>
</div>
