<div data-role="page" id="position" data-dom-cache="false">
  <div class="m-choose-city">
    <h2 class="title defaultpos">GPS定位城市</h2>
    <ul class="ui-list ui-border-tb defaultpos">
      <li>
        <div class="m-position-icon">
          <span></span>
        </div>
        <div class="ui-list-info ui-border-t ui-list-item-link">
          <h4 class="m_location"></h4>
        </div>
      </li>
    </ul>

    <h2 class="title">热门城市</h2>
    <ul data-role="listview" class="bar_list ui-list ui-list-text ui-border-tb" name="hot_container">
    </ul>

    <ul data-role="listview" class="bar_list ui-list ui-list-text ui-border-tb" name="city_container">
    </ul>

    <div class="m-choose-city-index list_bar">
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>
        <li>I</li>
        <li>J</li>
        <li>K</li>
        <li>L</li>
        <li>M</li>
        <li>N</li>
        <li>O</li>
        <li>P</li>
        <li>Q</li>
        <li>R</li>
        <li>S</li>
        <li>T</li>
        <li>U</li>
        <li>V</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
      </ul>
    </div>
  </div>
  <div class="m-template-container">
    <li class="title" name="area_letter_template"></li>
    <li class="m_letter_item ui-border-t ui-list-item-link" name="area_item_template">
      <p></p>
    </li>
  </div>
</div>