<div data-role="page" id="search" data-dom-cache="false">
  <div name='searchList' class="searchList">
    <div name='historyFlag' class='historyFlag'>
      <span name='historyNote' class='historyNote'>历史搜索纪录</span>
      <div name='historyList'></div>
      <div name='clearHistory' class='clearHistory'>清空搜索历史</div>
    </div>
  </div>

  <div class="m-template-container">
    <div name="searchHeader-template-container" class="product-search-header">
      <div>
        <i class="m-icon-search"></i>
        <input name="productSearchInput" maxlength="30" type="text" placeholder="搜索条件">
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
