<div data-role="page" id="storeMapAll" data-dom-cache="false">
  <div class="mapContainer">
    <div class="mapPanel"></div>
    <div class="route-panel close">
      <div class="t-arrow"></div>
      <div class="result-container"><div id="r-result"></div></div>
    </div>
  </div>
  
  <div class="m-template-container">
    <div name="info-wind-content-template" style="white-space:nowrap;">
      <div style="display:inline-block;vertical-align:middle; height:60px; padding-right:10px;">
        <div name="companyName" style="line-height:30px;white-space:nowrap; font-size:16px;max-width:196px;text-overflow:ellipsis;overflow:hidden;color:blue;font-weight:bold;letter-spacing:0px;"></div>
        <div name="address" style="line-height:30px;white-space:nowrap; font-size:12px;max-width:196px;text-overflow:ellipsis;overflow:hidden;"></div>
      </div>
      <div name="rightPanel" style="display:inline-block;vertical-align:middle; width: 50px; height:60px; line-height: 60px; padding-left:7px; border-left:1px solid #ccc;">
        <div style="background:url(theme/css/images/icon-here.png) no-repeat center;width: 80%;height: 30px; background-size:50%;"></div>
        <div style="height:28px; line-height:28px; font-size:14px; text-align:left; color:#ec6941;">去这里</div>
      </div>
    </div>
  </div>
</div>
