#editProfile .commodityList {
	width: 100%;
	background: white;
}
#editProfile .commodityList >div{
	border-bottom: 1px solid #dedfe0;
	
}
#editProfile .commodityList >div>span{
padding: 10px 10px 10px 15px;
font-size: 12px;
color: #666;
}
#editProfile .editCLass{
	padding-left:0px;
}
#editProfile > div > div >div {
	display: inline-block;
}




/* #editProfile .m-opinion .m-form-label {
    padding: 10px 10px 10px 15px;
    font-size: 12px;
    color: #666;
}
#editProfile .m-opinion .ui-form-item {
    height: auto;
}
#editProfile .m-opinion .ui-form-item {
    padding: 0 15px;
} */