#productList {
	overflow: hidden;
	height: 100%;
	box-sizing: border-box;
}

.product-list .wrapper {
	position: absolute;
	top: 42px;
	bottom: 0px;
	width: 100%;
}

.product-list .ui-tab {
	top: 42px;
	width: 100%;
	position: fixed;
	z-index: 999;
}

.product-list .ui-tab-nav {
	background: #f8f8f8;
	border-bottom: 1px solid #dadada;
	position: initial;
}

.product-list .ui-tab-nav li {
	font-size: 14px;
	position: relative;
}

.product-list .ui-tab-nav li.current {
	border: 0;
	color: #492678;
}

.product-list .ui-tab-nav li .ui-tab-nav-icon {
	display: inline-block;
	position: absolute;
	top: 20px;
	width: 8px;
	height: 5px;
	background: url(images/toggle.png) no-repeat 0 -5px;
	background-size: 100%;
	margin-left: 5px;
}

.product-list .ui-tab-nav li.current .ui-tab-nav-icon {
	background: url(images/toggle.png) no-repeat 0 0;
	background-size: 100%;
}

.product-list .list-view {
	background-color: white;
}

.product-list .list-view li {
	min-height: 80px;
	padding: 12px 6px;
	border-top: 1px solid #dedfe0;
	position: relative;
}

.product-list .list-view li:last-child {
	border-bottom: 1px solid #dadada;
}

.product-list .list-view .list-item {
	display: -webkit-box;
	height: 102px;
	overflow: hidden;
}

.product-list .list-view .list-item .list-item-img {
	display: inline-block;
	text-align: center;
	overflow: hidden;
	height: 100px;
	width: 133px;
	line-height:100px;
	margin-right: 10px;
	border:1px solid #DEDFE0;
}

.product-list .list-view .list-item .list-item-img img {
	width: 100%;
	max-height: 100%;
  display: block;
}

.product-list .list-view .list-item .list-item-txt {
	margin: 4px 0 6px 0;
	-webkit-box-flex: 1;
	font-weight: normal;
	/*update-donglei*/
	word-break: break-all;
}

.product-list .list-view .list-item .list-item-txt-title {
	line-height: 16px;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	color: #333;
	font-size: 12px;
	height: 30px;
}

.product-list .list-item .list-item-txt-title .list-item-txt-title-icon {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url(images/zhuan.png) no-repeat top center;
	background-size: 100%;
}

.product-list .list-item .list-item-txt-price {
	height: 32px;
  color: #999;
}

.product-list .list-item .list-item-txt-price * {
	line-height: 20px;
	vertical-align: bottom;
}

.product-list .list-item .list-item-txt-price .price:before {
  vertical-align: bottom;
}

.product-list .list-item .list-item-txt-price div {
	height: 35px;
  font-size: 10px;
}

.product-list .list-item .list-item-txt-price em.actual {
  padding-left: 6px;
  /*update-donglei-20161107
	font-size: 16px;
	
	color: #c6010b;*/
	font-size:12px;
	color:#888888;
}
/*简介*/
.product-list .list-item .list-item-txt-price .brief{line-height:35px;}
.product-list .list-item .list-item-txt-price em.brief {
  padding-left: 6px;
	font-size: 16px;
	font-size:12px;
	color:#888888;
}
/*描述*/
.product-list .list-item .list-item-txt-price .description{height:60px;line-height:30px;}
.product-list .list-item .list-item-txt-price em.description {
  padding-left: 6px;
	font-size: 16px;
	font-size:12px;
	color:#888888;
}
.product-list .list-item .list-item-txt-price em.origin {
  padding: 0 6px;
  padding-left: 4px;
  font-size: 10px;
  color: #888888;
  /*update-donglei
  text-decoration: line-through;*/
}

.product-list .list-item .list-item-txt-level {
	color: #999;
	font-size: 10px;
	margin-top: 10px;
	height: 22px;
}

.product-list .list-item .list-item-txt-level .a-left {
	float:left;
}

.product-list .list-item .list-item-txt-level .a-right {
	float:right;
}

.product-list .ui-list-item-link {
	margin: 0;
}

.product-list .ui-list-item-link .ui-list-info {
	padding-left: 15px;
}

.product-list .pullDown, .product-list .pullUp {
	display: none;
}

.product-list .pullDown.flip, .product-list .pullUp.flip {
	display: block;
	height: 34px;
	line-height: 34px;
	padding-left: 15px;
  text-align: center;
}

.product-list .pullUp.flip {
	margin-bottom: -34px;
}

.product-list .pullDown.flip {
	margin-top: -34px;
}

.product-list .scroller {
	min-height: 105%;
}

.product-list .evaluation {
	display: inline-block;
	padding-right: 3px;
}

.product-list .reservation {
	display: inline-block;
	float: right;
}

.product-list .icon-installation {
	width: 18px;
	height: 18px;
	line-height: 18px;
	background-color: #c6010b;
	text-align: center;
	color: white;
	display: inline-block;
	margin-right: 3px;
}

.product-list .installationMessage {
	display: inline-block;
}