#shoppingCart .wrapper {
	height: 100%;
	position: relative;
}

#shoppingCart .ui-tab {
	top: 39px;
	width: 100%;
	position: fixed;
	z-index: 999;
}

#shoppingCart .ui-tab-nav {
	background: #f8f8f8;
	border-bottom: 1px solid #dadada;
	position: initial;
}

#shoppingCart .ui-tab-nav li {
	font-size: 14px;
	position: relative;
}

#shoppingCart .ui-tab-nav li.current {
	border: 0;
	color: #492678;
}

#shoppingCart .ui-tab-nav li .ui-tab-nav-icon {
	display: inline-block;
	position: absolute;
	top: 20px;
	width: 8px;
	height: 5px;
	background: url(images/toggle.png) no-repeat 0 -5px;
	background-size: 100%;
	margin-left: 5px;
}

#shoppingCart .ui-tab-nav li.current .ui-tab-nav-icon {
	background: url(images/toggle.png) no-repeat 0 0;
	background-size: 100%;
}

#shoppingCart .ui-tab-content {
	position: absolute;
	display: -webkit-box;
	width: 100%;
	margin-top: 0;
	z-index: 10;
}

#shoppingCart .ui-tab-content>li {
	-webkit-box-flex: 1;
	width: 100%;
}

#shoppingCart .ui-tab-content .ui-border-tb {
	border-top: 0;
}

#shoppingCart .ui-tab-content .ui-list-text .ui-list-item-link {
	margin-left: 0;
	padding-left: 15px;
}

#shoppingCart .ui-tab-content .ui-list-info h4, #shoppingCart .ui-tab-content .ui-border-t p
	{
	font-size: 12px;
}

#shoppingCart .ui-tab-content .ui-list-info {
	height: 44px;
	line-height: 44px;
}

#shoppingCart .ui-tab-content>li .cate {
	width: 100%;
	display: -webkit-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #f3f6f8;
}

#shoppingCart .ui-tab-content>li .cate .cate-hd, #shoppingCart .ui-tab-content>li .cate .cate-bd
	{
	width: 50%;
	box-flex: 1;
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#shoppingCart .cate-hd li {
	line-height: 20px;
	padding: 12px 15px;
	font-size: 12px;
	background: #f3f6f8;
	border-bottom: 1px solid #e8e8e8;
	color: #495772;
}

#shoppingCart .cate-hd li.current {
	background: #fff;
}

#shoppingCart .cate-bd li {
	line-height: 20px;
	padding: 12px 15px;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	color: #495772;
}

#shoppingCart .list-view {
	margin-bottom: 41px;
}

#shoppingCart .empty {
	display: none;
}

#shoppingCart.empty .empty {
	display: block;
	width: 100%;
	height: 70%;
	z-index: 999;
	background: url(images/empty_shoppingcart_3x.png) no-repeat center;
	background-size: 130px;
}

#shoppingCart .list-view li {
	background-color: white;
	min-height: 80px;
	padding: 5px 6px 10px 6px;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	margin-top: -1px;
	margin-bottom: 5px;
	position: relative;
}

#shoppingCart .list-view .list-item {
	display: -webkit-box;
	height: 102px;
	overflow: hidden;
}

#shoppingCart .list-view .list-item .list-item-checkbox {
	margin: 42px 10px;
}

#shoppingCart .list-view .list-item .list-item-checkbox-icon {
	width: 14px;
	height: 14px;
	border: 1px solid #ccc;
	border-radius: 14px 14px;
}

#shoppingCart .list-view .list-item .list-item-checkbox-icon.active {
	border-color: #c6010b;
	background-color: #c6010b
}

#shoppingCart .list-view .list-item .list-item-img {
	display: inline-block;
	text-align: center;
	overflow: hidden;
	height: 100px;
	width: 133px;
	line-height: 100px;
	margin-right: 10px;
}

#shoppingCart .list-view .list-item .list-item-img img {
	width: 100%;
	max-height: 100%;
	display: block;
}

#shoppingCart .list-view .list-item .list-item-txt {
	margin: 4px 15px 6px 0;
	-webkit-box-flex: 1;
}

#shoppingCart .list-view .list-item .list-item-txt-title {
	line-height: 16px;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	color: #333;
	font-size: 12px;
	height: 32px;
}

#shoppingCart .list-item .list-item-txt-title .list-item-txt-title-icon
	{
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url(images/zhuan.png) no-repeat top center;
	background-size: 100%;
}

#shoppingCart .list-item .list-item-spec {
	height: 20px;
	color: #AAAAAA;
	font-size: 12px;
}

#shoppingCart .list-item .list-item-txt-price em {
	font-size: 16px;
	color: #c6010b;
}

#shoppingCart .list-item .list-item-txt-level {
	color: #999;
	font-size: 10px;
	position: relative;
	height: 22px;
}

#shoppingCart .list-item .list-item-txt-level span {
	position: relative;
	margin-right: 4px;
}

#shoppingCart .list-item .list-item-txt-stats {
	color: #999;
	font-size: 10px;
}

#shoppingCart .list-item .list-item-txt-stats em {
	color: #f6ce72;
}

#shoppingCart .list-item .list-item-count {
	
}

#shoppingCart .list-item .list-item-count .list-item-count-minus {
	display: inline-block;
	border: 1px solid #ccc;
	width: 20px;
	height: 20px;
	border-radius: 20px 20px;
	text-align: center;
	color: #ccc;
}

#shoppingCart .list-item .list-item-count .list-item-count-add {
	display: inline-block;
	border: 1px solid #ccc;
	width: 20px;
	height: 20px;
	border-radius: 20px 20px;
	text-align: center;
	color: #ccc;
	line-height: 20px;
}

#shoppingCart .list-item .list-item-count .list-item-count-add {
	display: inline-block;
	border: 1px solid #ccc;
	width: 20px;
	height: 20px;
	border-radius: 20px 20px;
	text-align: center;
	color: #ccc;
	line-height: 20px;
}

#shoppingCart .list-item .list-item-count .list-item-count-input {
	height: 20px;
	width: 40px;
	border: 1px solid #ccc;
	text-align: center;
}

#shoppingCart .m-serie-info {
	margin-top: 45px;
	line-height: 30px;
	overflow: hidden;
	font-size: 12px;
	border-bottom: solid 1px #d8d8d8;
	padding-left: 10px;
	color: #333;
	background: #FFF;
}

#shoppingCart .m-serie-info img {
	height: 16px;
	margin: -4px;
}

#shoppingCart .ui-list-item-link {
	margin: 0;
}

#shoppingCart .ui-list-item-link .ui-list-info {
	padding-left: 15px;
}

#shoppingCart .ui-list-item-link .ui-list-info .m-car-logo {
	height: 20px;
	float: left;
	margin: 0;
}

#shoppingCart .pullDown, #shoppingCart .pullUp {
	display: none;
}

#shoppingCart .pullDown.flip, #shoppingCart .pullUp.flip {
	display: block;
	height: 34px;
	line-height: 34px;
	padding-left: 15px;
	text-align: center;
}

#shoppingCart .pullUp.flip {
	margin-bottom: -34px;
}

#shoppingCart .pullDown.flip {
	margin-top: -34px;
}

#shoppingCart .scroller {
	min-height: 100%;
}

#shoppingCart .evaluation {
	display: inline-block;
	padding-right: 3px;
}

#shoppingCart .reservation {
	display: inline-block;
}

#shoppingCart .icon-installation {
	width: 18px;
	height: 18px;
	background-color: #578387;
	text-align: center;
	color: white;
	display: inline-block;
	margin-right: 3px;
}

#shoppingCart .installationMessage {
	display: inline-block;
}

#shoppingCart .m-panel-footer {
	color: #333;
	background-color: white;
	border-top: 1px solid #dadada;
	position: fixed;
	bottom: 47px;
}

#shoppingCart .m-panel-footer .price {
	font-size: 16px;
	padding: 9px;
	display: block;
	line-height: 21px;
}

#shoppingCart .m-panel-footer .order-count {
	color: #999;
	font-size: 12px;
}

#shoppingCart .m-panel-footer .ui-block-a {
	padding: 0;
}

#shoppingCart .m-panel-footer .ui-block-b, #shoppingCart .m-panel-footer .ui-block-c
	{
	padding: 0;
	text-align: center;
}

#shoppingCart .m-panel-footer .remove-shopping-cart {
	padding: 9px;
	display: block;
	background-color: orange;
	color: white;
}

#shoppingCart .m-panel-footer .buy-now {
	padding: 9px;
	display: block;
	background-color: #c6010b;
	color: white;
}

#shoppingCart .terminal-store {
	line-height: 16px;
	font-size: 12px;
	color: #3c3c3c;
	padding: 0px 0px 10px 0px;
	margin: 3px 0px 3px 0px;
	font-weight: lighter;
	width: 100%;
	border-bottom: 1px solid #dadada;
	height: 14px;
}

#shoppingCart .terminal-store .terminal-store-icon {
	display: block;
	width: 16px;
	height: 16px;
	background: url(images/icon-btn.png) 0 0 no-repeat;
	background-size: 100%;
	background-position: 0px 0px;
	margin: -1px 5px 0px 0px;
	float: left;
	color: #3c3c3c;
}

#shoppingCart .terminal-store .terminal-store-detail-icon {
	content: "";
	position: absolute;
	display: block;
	right: 10px;
	width: 10px;
	height: 16px;
	background: url(lib/images/icon.png) no-repeat;
	background-size: 150px 100px;
	background-position: 0px -74px;
	margin: -18px 4px 0px 0px;
}