#terminalStoreList {
	overflow: hidden;
	height: 100%;
	box-sizing: border-box;
}

.terminal-store-list .wrapper {
	position: absolute;
	top: 85px;
	bottom: 0px;
	width: 100%;
}

.terminal-store-list .ui-tab {
	top: 41px;
	width: 100%;
	position: fixed;
	z-index: 999;
}

.terminal-store-list .ui-tab-nav {
	background: #f8f8f8;
	border-bottom: 1px solid #dadada;
	position: initial;
}

.terminal-store-list .ui-tab-nav li {
	font-size: 14px;
	position: relative;
}

.terminal-store-list .ui-tab-nav li.current {
	border: 0;
	color: #492678;
}

.terminal-store-list .ui-tab-nav li .ui-tab-nav-icon {
	display: inline-block;
	position: absolute;
	top: 20px;
	width: 8px;
	height: 5px;
	background: url(images/toggle.png) no-repeat 0 -5px;
	background-size: 100%;
	margin-left: 5px;
}

.terminal-store-list .ui-tab-nav li.current .ui-tab-nav-icon {
	background: url(images/toggle.png) no-repeat 0 0;
	background-size: 100%;
}

.terminal-store-list .ui-tab-content {
	position: absolute;
	display: -webkit-box;
	width: 100%;
	margin-top: 0;
	z-index: 10;
}

.terminal-store-list .ui-tab-content>li {
	-webkit-box-flex: 1;
	width: 100%;
}

.terminal-store-list .ui-tab-content .ui-border-tb {
	border-top: 0;
}

.terminal-store-list .ui-tab-content .ui-list-text .ui-list-item-link {
	margin-left: 0;
	padding-left: 15px;
}

.terminal-store-list .ui-tab-content .ui-list-info h4,
	.terminal-store-list .ui-tab-content .ui-border-t p {
	font-size: 12px;
}

.terminal-store-list .ui-tab-content .ui-list-info {
	height: 44px;
	line-height: 44px;
}

.terminal-store-list .ui-tab-content>li .cate {
	width: 100%;
	display: -webkit-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #f3f6f8;
}

.terminal-store-list .ui-tab-content>li .cate .cate-hd,
	.terminal-store-list .ui-tab-content>li .cate .cate-bd {
	width: 50%;
	box-flex: 1;
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.terminal-store-list .cate-hd li {
	line-height: 20px;
	padding: 12px 15px;
	font-size: 12px;
	background: #f3f6f8;
	border-bottom: 1px solid #e8e8e8;
	color: #495772;
}

.terminal-store-list .cate-hd li.current {
	background: #fff;
}

.terminal-store-list .cate-bd li {
	line-height: 20px;
	padding: 12px 15px;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	color: #495772;
}

.terminal-store-list .list-view {
	background-color: white;
}

.terminal-store-list .list-view ul {
	border-bottom: 1px solid #dadada;
}

.terminal-store-list .list-view li {
	min-height: 80px;
	padding: 10px 3px;
	border-top: 1px solid #dadada;
	position: relative;
}

.terminal-store-list .list-view .list-item {
	display: -webkit-box;
	height: 102px;
	overflow: hidden;
}

.terminal-store-list .distance {
    font-size: 14px;
    position: absolute;
    color: orange;
    right: 3px;
    top: 13px;
}

.terminal-store-list .list-view .list-item .list-item-img {
	display: inline-block;
	text-align: center;
	overflow: hidden;
	height: 100px;
	width: 133px;
	line-height: 100px;
	margin-right: 10px;
}

.terminal-store-list .list-item .list-item-img img {
	width: 100%;
	max-height: 100%;
	display: block;
}

.terminal-store-list .list-view .list-item .list-item-txt {
	margin: 4px 34px 0px 0;
	-webkit-box-flex: 1;
}

.terminal-store-list .list-view .list-item .detail-level span {
  color: #999;
  font-size: 10px;
  font-weight: normal;
}

.terminal-store-list .list-view .list-item .list-item-txt-title {
	line-height: 16px;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	color: #3c3c3c;
	font-size: 12px;
	padding-bottom: 10px;
}

.terminal-store-list .list-item .list-item-txt-title .list-item-txt-title-icon {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url(images/zhuan.png) no-repeat top center;
	background-size: 100%;
}

.terminal-store-list .list-item .list-item-txt-price {
	height: 32px;
}

.terminal-store-list .list-item .list-item-txt-price em {
	font-size: 16px;
	color: #c6010b;
}

.terminal-store-list .list-item .list-item-txt-level {
	color: #6f6f6f;
	font-weight: normal;
	font-size: 10px;
	position: relative;
	padding-top: 5px;
}

.terminal-store-list .list-item .list-item-txt-level span {
	position: relative;
	margin-right: 4px;
}

.terminal-store-list .list-item .list-item-txt-stats {
	color: #999;
	font-size: 10px;
}

.terminal-store-list .list-item .list-item-txt-stats em {
	color: #f6ce72;
}

.terminal-store-list .m-serie-info {
	margin-top: 45px;
	line-height: 30px;
	overflow: hidden;
	font-size: 12px;
	border-bottom: solid 1px #d8d8d8;
	padding-left: 10px;
	color: #333;
	background: #FFF;
}

.terminal-store-list .m-serie-info img {
	height: 16px;
	margin: -4px;
}

.terminal-store-list .ui-list-item-link {
	margin: 0;
}

.terminal-store-list .ui-list-item-link .ui-list-info {
	padding-left: 15px;
}

.terminal-store-list .ui-list-item-link .ui-list-info .m-car-logo {
	height: 20px;
	float: left;
	margin: 0;
}

.terminal-store-list .pullDown, .terminal-store-list .pullUp {
	display: none;
}

.terminal-store-list .pullDown.flip, .terminal-store-list .pullUp.flip {
	display: block;
	height: 34px;
	line-height: 34px;
	padding-left: 15px;
	text-align: center;
}

.terminal-store-list .pullUp.flip {
	margin-bottom: -34px;
}

.terminal-store-list .pullDown.flip {
	margin-top: -34px;
}

.terminal-store-list .scroller {
	min-height: 105%;
}

.terminal-store-list .evaluation {
	display: inline-block;
	padding-right: 3px;
}

.terminal-store-list .reservation {
	display: inline-block;
}

.terminal-store-list .icon-installation {
	width: 18px;
	height: 18px;
	background-color: #578387;
	text-align: center;
	color: white;
	display: inline-block;
	margin-right: 3px;
}

.terminal-store-list .installationMessage {
	display: inline-block;
}

.terminal-store-list .star {
	width: 12px;
	padding-right: 1px;
}